body {
  margin: 0;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $mainColor;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer + px;
  @include adaptiv-value("padding-right", 30, 15, 1);
  @include adaptiv-value("padding-left", 30, 15, 1);
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.title {
  @include adaptiv-value("font-size", 32, 22, 1);
  line-height: math.div(37.5px, 32px) * 100%;
  color: #444444;
}
.title2 {
  font-size: 32px;
  @include adaptiv-value("font-size", 32, 20, 1);
  font-weight: 500;
  line-height: math.div(37.5px, 32px) * 100%;
  text-align: center;
  text-transform: uppercase;
}
.title3 {
  @include adaptiv-value("font-size", 18, 14, 1);
  font-weight: 700;
  line-height: math.div(26.37px, 18px) * 100%;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: $mainColor;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include adaptiv-value("font-size", 14, 12, 1);
  line-height: math.div(14px, 16.4px) * 100%;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  @media (max-width: $xl) {
    line-height: 1.2;
  }
  &_phone {
    background-color: $redColor;
    color: #fff;
    padding: 4px 16.5px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    box-shadow: 0 0 0 0 rgba($redColor, 0.5);
    animation: pulse 1.5s infinite;
    &:hover {
      animation: none;
    }
    @keyframes pulse {
      0% {
        transform: scale(0.98);
      }
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba($redColor, 0);
      }
      100% {
        transform: scale(0.98);
        box-shadow: 0 0 0 0 rgba($redColor, 0);
      }
    }
  }
  &_red {
    background-color: $redColor;
    color: #fff;
    position: relative;
    &:hover {
      color: $redColor;
      background: #f2f3f5;
      box-shadow: none;
      &:before,
      &:after {
        width: 50%;
        transition: width 0.2s ease-in;
      }
    }
    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      bottom: 0;
      background: $redColor;
      z-index: 2;
      transition: width 0.2s 0.35s ease-out;
    }
    &:before {
      right: 50%;
    }
    &:after {
      left: 50%;
    }
    & span {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      &:hover:before,
      &:hover:after {
        width: 50%;
        height: 100%;
        opacity: 1;
        transition: height 0s 0.2s ease-in, width 0.2s 0.2s linear, opacity 0s 0.2s;
      }
      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 0%;
        height: 0%;
        bottom: 0;
        border-top: 2px solid $redColor;
        background: transparent;
        opacity: 0;
      }
      &:before {
        left: 0;
        border-left: 2px solid $redColor;
      }
      &:after {
        right: 0;
        border-right: 2px solid $redColor;
      }
    }
  }
  &_white {
    background-color: #fff;
    color: $redColor;
    border: 2px solid #ffaeae;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    &:hover {
      background-color: #e0d8d8;
      transition: background-color 0.5s ease 0s;
    }
  }
}
.btn-order {
  display: none;
  @media (max-width: $md) {
    display: inline-flex;
    margin-bottom: 15px;
    &._active {
      display: none;
    }
  }
}
