.advantages {
  &__container {
    @include adaptiv-value("padding-top", 98, 30, 1);
    @include adaptiv-value("padding-bottom", 26, 20, 1);
  }
  &__title {
    @include adaptiv-value("margin-bottom", 81, 30, 1);
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    @include adaptiv-value("margin-left", -10, -5, 1);
    @include adaptiv-value("margin-right", -10, -5, 1);
  }
  &__item {
    @include adaptiv-value("margin-bottom", 82, 28, 1);
    @include adaptiv-value("margin-left", 10, 5, 1);
    @include adaptiv-value("margin-right", 10, 5, 1);
  }
}
[data-aos="advantages"] {
  opacity: 0.9;
  transform: scale(0.9);
  &.aos-animate {
    opacity: 1;
    transform: scale(1);
    @for $var from 1 to 20 {
      $delay: $var * 0.2;
      &:nth-child(#{$var}) {
        transition: all 0.2s ease #{$delay + s};
      }
    }
  }
}
.advantages-item {
  padding: 0 5px;
  text-align: center;
  @include adaptiv-value("width", 280, 200, 1);
  &__icon {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 19.7px;
    width: 89px;
    height: 89px;
    overflow: hidden;
    &:before {
      text-align: center;
      font-size: 89px;
      color: #ff333380;
    }
  }
  &__text {
    text-align: center;
    line-height: 23.44px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e3033;
  }
}
