.first-screen {
  @include adaptiv-value("min-height", $firstScreenHeight, 500, 1);
  background-image: url("../images/first-screen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: $headerHeight - 15 + px;
    height: 100%;
    @media (max-width: $md) {
      flex-direction: column;
    }
  }
  &__body {
    @include adaptiv-value("padding-top", 57, 35, 1);
    padding-bottom: 5px;
    width: 56%;
    @media (max-width: $lg) {
      width: 53%;
    }
    @media (max-width: $md) {
      width: 100%;
    }
  }
  &__order {
    position: relative;
    top: 28px;
    width: 36.5%;
    height: 100%;
    @media (max-width: $lg) {
      width: 45%;
      max-height: 100%;
    }
    @media (max-width: $md) {
      max-height: 0;
      overflow: hidden;
      &._active {
        top: 0;
        display: inline-flex;
        align-self: center;
        width: auto;
        overflow: hidden;
        transition: max-height 0.8s ease 0s;
      }
    }
  }
  &__title {
    @include adaptiv-value("margin-bottom", 62, 20, 1);
    .color-change-2x {
      font-weight: bold;
      animation: color-change-2x 2s linear infinite alternate both;
    }
  }
  &__subtitle {
    @include adaptiv-value("margin-bottom", 38, 20, 1);
    @include adaptiv-value("font-size", 23, 20, 1);
    line-height: math.div(32px, 23px) * 100%;
    color: #2e3033;
  }
  &__promo {
    @include adaptiv-value("margin-right", 40, 5, 1);
    @media (max-width: $xxl) {
      margin-right: 0;
    }
    max-width: 100%;
  }
}
.promo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px;
  @media (max-width: $sm) {
    flex-direction: column;
  }

  &__promo-item {
    flex: 0 1 33.33%;
    padding: 0 20px;
    @media (max-width: $lg) {
      padding: 0 5px;
    }
    text-align: center;
    @media (max-width: $sm) {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }
  &__img {
    flex-shrink: 0;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 89px;
    height: 86px;
    border: 1px solid #80a2c5;
    border-radius: 50%;
    font-size: 28px;
    color: #80a2c5;
    background-color: #fff;
    overflow: hidden;
    @media (max-width: $sm) {
      margin: 0 15px 0 0;
    }
    &:before {
      font-size: 50px;
    }
  }
  &__text {
    @include adaptiv-value("font-size", 14, 11, 1);
    line-height: math.div(18px, 14px) * 100%;
    color: #444444;
    text-transform: uppercase;
  }
}
@keyframes color-change-2x {
  0% {
    color: #52677c;
  }
  100% {
    color: #80a2c5;
  }
}
