.form-check {
  &__checkbox {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 3%;
    @include adaptiv-value("grid-row-gap", 50, 20, 1);
    line-height: 23px;
    text-decoration: underline;
    @media (max-width: $sm) {
      grid-template-columns: auto;
    }
  }
  &__container {
    position: relative;
    display: block;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    & .form-check__input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      cursor: pointer;
    }
    &:hover .form-check__input ~ .form-check__checkmark {
      background-color: $pinkColor;
    }
    & .form-check__input:checked ~ .form-check__checkmark {
      background-color: $redColor;
    }
    & .form-check__input:checked ~ .form-check__checkmark:after {
      display: block;
    }
    & .form-check__checkmark:after {
      left: 5px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 18px;
    width: 18px;
    background: #ffffff;
    border: 1px solid #ffaeae;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
}
