.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  &._scroll {
    background-color: rgba(255, 255, 255, 0.9);
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.98);
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 27px;
    min-height: $headerHeight + px;
    @media (max-width: $md) {
      min-height: 5px;
    }
    transition: min-height 0.5s ease 0s;
  }
  &__logo {
    position: relative;
    margin-right: 10px;
    z-index: 5;
    @media (min-width: $sm) {
      flex: 0 0 287px;
    }
    @media (min-width: $xl) {
      margin-right: 45px;
    }
  }
  &__menu {
    @media (min-width: $sm) {
      order: 1;
    }
    @media (min-width: $lg) {
      flex: 0 1 606px;
      order: 0;
      display: block;
    }
  }
  &__phone-container {
    position: relative;
    display: inline-block;
    z-index: 5;
    @media (min-width: $sm) {
      flex: 0 0 160px;
      margin: 0 10px;
      text-align: center;
    }
    @media (min-width: $lg) {
      margin: 0 0 0 10px;
      text-align: right;
    }
  }
  &__phone {
    display: block;
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #2e3033;
    &:hover,
    &:active {
      color: $redColor;
      transition: color 0.5s ease 0s;
    }
  }
}
.logo {
  width: 287px;
  height: 47px;
}
.menu {
  &__body {
    @media (max-width: $lg) {
      position: fixed;
      top: -100vh;
      left: 0;
      padding: 30px 15px;
      width: 100%;
      height: 100vh;
      background-color: #d9d7d7;
      overflow: auto;
      opacity: 0;
      transition: all 0.5s ease 0s;
      &._active {
        top: $headerHeight + px;
        opacity: 0.95;
      }
    }
  }
  &__list {
    li {
      margin-bottom: 30px;
    }
    @media (min-width: $lg) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        margin: 0;
      }
    }
  }
  &__link {
    position: relative;
    padding: 5px 3px;
    color: #222222;
    transition: color 0.4s ease 0s;
    @media (max-width: $lg) {
      @include adaptiv-value("font-size", 40, 28, 1);
    }
    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $redColor;
      transform: scaleX(0);
      transition: transform 0.3s;
    }
    &:hover,
    &:active,
    &._active {
      color: $redColor;
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: $lg) {
    position: relative;
    display: block;
    max-height: 80px;
    cursor: pointer;
    z-index: 5;
    .inner {
      margin: 20px auto;
      position: relative;
      width: 40px;
      height: 40px;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 4px;
        background-color: #4f4f4f;
        transition: top 0.2s ease-in-out 0.4s, transform 0.4s ease-in-out, opacity 0.2s ease-in-out 0.2s,
          left 0.2s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2),
        &:nth-child(4) {
          top: 18px;
        }
        &:nth-child(3) {
          top: 36px;
        }
      } // end span
    }
    &._active {
      .inner {
        span {
          transition: top 0.2s ease-in-out, transform 0.4s ease-in-out 0.2s, 0.2s ease-in-out 0.2s;
          &:nth-child(1) {
            transform-origin: right center;
            transform: rotate(-45deg) translateY(5px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform-origin: right center;
            transform: rotate(45deg) translateY(-5px);
          }
        }
      }
    }
  }
}
