.production {
  background-color: #f2f3f5;
  background-image: url("../images/production/production-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    @include adaptiv-value("padding-top", 61, 30, 1);
    @include adaptiv-value("padding-bottom", 53, 30, 1);
  }
  &__title {
    @include adaptiv-value("margin-bottom", 27, 20, 1);
  }
  &__content {
    @include adaptiv-value("margin-bottom", 60, 20, 1);
    @include adaptiv-value("padding-left", 100, 10, 1);
    @include adaptiv-value("padding-right", 100, 10, 1);
    line-height: 25px;
  }
  &__text {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 3px;
    }
    & span {
      font-weight: bold;
    }
    &_red {
      font-weight: bold;
      text-decoration: underline;
      color: $redColor;
    }
  }
  &__list {
    margin-bottom: 13px;
  }
  &__list-item {
    margin-bottom: 5px;
    list-style-type: "\2014 \00A0" !important;
    list-style-position: inside;
  }
  &__digits {
    @include adaptiv-value("margin-bottom", 62, 20, 1);
    margin-right: -2.9%;
    margin-left: -2.9%;
    @include adaptiv-value("padding-left", 100, 10, 1);
    @include adaptiv-value("padding-right", 100, 10, 1);
  }
  &__slider-container {
    position: relative;
    text-align: center;
  }
  &__slider {
    @include adaptiv-value("margin-left", 100, 10, 1);
    @include adaptiv-value("margin-right", 100, 10, 1);
    @include adaptiv-value("margin-bottom", 42, 20, 1);
    height: 107px;
  }
}
.production-digits {
  display: flex;
  justify-content: space-between;
  @media (max-width: $md) {
    flex-flow: row wrap;
  }
  &__item {
    max-width: 22%;
    margin: 0 2.9%;
    @media (max-width: $md) {
      max-width: 45%;
    }
  }
  &__item-digit {
    margin-bottom: 10px;
    @include adaptiv-value("font-size", 28, 20, 1);
    line-height: math.div(33px, 28px) * 100%;
    font-weight: bold;
    letter-spacing: 0em;
    color: $redColor;
    & span {
      @include adaptiv-value("font-size", 50, 22, 1);
      line-height: math.div(59px, 50px) * 100%;
    }
  }
  &__item-text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0em;
  }
}
.production-slider {
  &__swiper-button {
    position: absolute;
    top: 32px;
    z-index: 10;
    &::before {
      color: $pinkColor;
      font-size: 42px;
    }
    &_prev {
      left: 0;
    }
    &_next {
      right: 0;
    }
  }
  &__pagination-container {
    display: inline-flex;
    justify-content: space-between;
    width: auto !important;
  }
  &__pagination-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
    width: 10px;
    height: 10px;
    background-color: #f2f3f5;
    border: 1px solid #bcbfc4;
    border-radius: 50%;
    &_active {
      background-color: rgba(255, 51, 51, 0.5);
      border: none;
    }
    @media (max-width: $md) {
      width: 15px;
      height: 15px;
    }
  }
}
